@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url(/fonts/Geist-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url(/fonts/GeistVF.ttf);
}
@font-face {
  font-family: 'Geist';
  src: url(/fonts/GeistVF.woff2);
}

html {
  font-family: 'Geist';
  color: #2c282c;
}

.book-title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.1;
}
.book-author {
  font-weight: 400;
  font-size: 0.9rem;
}
.book-publisher {
  font-weight: 400;
  font-size: 0.9rem;
}
.book-data {
  font-weight: 500;
  font-size: 0.8rem;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #000 90%, #0000) 0 / calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
